@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
    padding: 0 30px;
}

.header__logo {
    display: block;
    width: 170px;
    height: auto;

    text-decoration: none;
}

.header__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.header__controls-mobile {
    flex: 1;
    display: none;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    gap: 20px;
}

.header__controls-mobile a {
    margin-bottom: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}


.menu__item {
    margin-right: 40px;
    height: 100%;
}

.menu__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

.menu__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease-in-out;
    will-change: transition;
}

.menu__link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.menu__link_active::before {
    width: 100%;
    right: auto;
    left: 0;
}

.button {
    padding: 14px 24px;
    display: block;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    margin-left: 20px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.first-screen {
    position: relative;
    width: 100%;
    padding: 189px 0 93px;
    background: url("../img/smm/smmbg.png") center center no-repeat;
    background-size: cover;
}

.first-screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(36, 42, 86, 0.7);
    backdrop-filter: blur(10px);
}

.first-screen__container {
    position: relative;
    z-index: 2;
    display: block;
    max-width: 1300px;
    min-width: 280px;
    padding: 0 40px;
    margin: 0 auto;
}

.title-h1 {
    margin-bottom: 28px;
    font-weight: 900;
    font-size: 68px;
    line-height: 79px;
    color: #fff;
}

.title-h1 span {
    display: block;
}

.txt {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
}

.burger {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 6px 2px;
    z-index: 2;
    display: none;
}

.burger i {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1.5px;
    background-color: #4B4C5A;
    margin-bottom: 3px;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    will-change: width, transform;
}

.burger i:last-child {
    margin-bottom: 0;
}

.burger__input {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}

.burger__input[type="checkbox"]:checked ~ label i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 4px);
    margin: auto;
}

.burger__input[type="checkbox"]:checked ~ label i:nth-child(2){
    width: 0;
    opacity: 0;
}
.burger__input[type="checkbox"]:checked ~ label i:nth-child(1){
    transform: rotate(45deg);
}
.burger__input[type="checkbox"]:checked ~ label i:nth-child(3){
    transform: rotate(-45deg);
}

/*main*/

.statistick {
    display: flex;
    background: url('../img/bg2.png');
}

.statistick__content {
    padding: 0 100px;
}

.statistick__image {
    justify-content: right;
    display: flex;
}

.statistick__image img {
    width: 40vw;
}

.statistick__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 105%;
    color: #242A56;
    max-width: 680px;
}

.statistick__details {
    padding-top: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #242A56;
}

.statistick__details  {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #242A56;
}


.social__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #242A56;
}

.columns {
    overflow: auto;
    padding: 60px 0;
}

.columns__container {
    column-count: 2;
}

.columns__item {
    page-break-inside: avoid; // prevent break content: modern
    display: inline-block; // prevent break content: fallback

    margin-bottom: 16px;
}

.columns__item:last-child {
    margin-bottom: 0;
}

.columns__item.item {
    justify-content: center;
    align-items: center;
}

.social {
    padding: 14px 15px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    background: #FBF7F1;
    border: 1px solid #C1D3DE;
    box-sizing: border-box;
    border-radius: 12px;
}

/*table form*/

.table_card {
    background: #FFFFFF;
    height: 1103px;
}

.tabl_desc {
    margin-top: 80px;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    line-height: 105%;
    text-align: center;
    color: #242A56;
}

.tabl_text {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: #242A56;
}

table a {
    color: #393A56;
}

table {
    margin: 60px 260px 95px 260px;
    border: 1px solid #C1D3DE;
    box-sizing: border-box;
    border-radius: 12px;
    border-collapse: collapse;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #393A56;
    text-align: top;
}

th {
    border: 1px solid #C1D3DE;
    padding: 20px 20px 20px 20px;
    text-align: left;
}

td {
    border: 1px solid #C1D3DE;
    padding: 12px 0 12px 20px;
}

.grey_bc {
    background: #EDF4FA;
}

.sp_b {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #393A56;
}