@media screen and (min-width:768px) and (max-width:1024px) {
    .container {
        position: relative;
        padding: 24px 40px;
    }
    .button--secondary {
        border: 1px solid #376FFF;
        color: #376FFF;
    }
    .hero {
        position: relative;
        background-color: #ffffff;
    }
    .menu {
        background-color: #ffffff;
    }
    nav {
        display: none;
    }
    .button--burger {
        display: grid;
    }
}